@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-size: 16px;
  line-height: 1.35;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #3C4959;
  background-color: #FDFDFD;
}
.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6F6FE;  
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 18px 41px;
  border-radius: 10px;
}

.menu__list {
  display: flex;
  gap: 0 38px;
}
.menu__item {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 1.5%;
  color: #011632;
}

.header__contacts {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #1376F8;
  color: #ffffff;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  line-height: 155%;
}

/* Home style */
.home__inner {
  display: flex;
  justify-content: space-between;
}

.home__info-title {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 62px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 120%;
  text-transform: capitalize;
  color: #011632;
}
.home__info-title::after{
  content: '';
  position: absolute;
  background-image: url(../images/h1-liner.svg);
  width: 533px;
  height: 10px;
  bottom: 0;
  left: 1px;
}