@font-face {
  font-family: 'Pt-Sans-narrow-Regular';
  src: url('../fonts/pt-sans_narrow-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pt-Sans-Regular';
  src: url('../fonts/pt-sans_regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pt-Sans-italic';
  src: url('../fonts/pt-sans_italic.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pt-Sans-bold-italic';
  src: url('../fonts/pt-sans_bold-italic.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pt-Sans-bold';
  src: url('../fonts/pt-sans_bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
body {
  font-size: 16px;
  line-height: 1.35;
  font-family: 'Pt-Sans-Regular';
  font-weight: 400;
  color: #3C4959;
  background-color: #FDFDFD;
}
.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6F6FE;
  margin-top: 30px;
  padding: 18px 41px;
  border-radius: 10px;
}

.menu__list {
  display: flex;
  gap: 0 38px;
  font-weight: 300;
  font-size: 16px;
}

.header__contacts {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #1376F8;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Pt-Sans-narrow-Regular';
  font-weight: 400;
  line-height: 155%;
}